<h3 class="page-heading">MongoDB details</h3>

<div class="gf-form-group">
	<div class="gf-form-inline">
		<div class="gf-form">
			<span class="gf-form-label width-10">MongoDB URL</span>
			<input class="gf-form-input width-30" type="text"
				ng-model='ctrl.current.jsonData.mongodb_url'
				placeholder="mongodb://localhost:27017" required>
			</input>
		</div>

		<div class="gf-form">
			<span class="gf-form-label width-10">MongoDB Database</span>
			<input class="gf-form-input width-30" type="text"
				ng-model='ctrl.current.jsonData.mongodb_db'
				placeholder="test" required>
			</input>
		</div>
	</div>
  <div class="gf-form-group">
    <h5 class="section-heading">Custom pipeline stages</h5>
    <div class="gf-form" ng-repeat="map in ctrl.current.jsonData.stages">
      <span class="gf-form-label">
        <i class="fa fa-remove pointer" ng-click="ctrl.removeStage(map)"></i>
      </span>
      <input type="text" ng-model="map.name" placeholder="custom" class="gf-form-input max-width-10" ng-blur="ctrl.render()">
      <span class="gf-form-label">
        <i class="fa fa-arrow-right"></i>
      </span>
      <textarea class="gf-form-input width-100" rows="5" cols="150" spellcheck="false" ng-model="map.stage" ng-blur="ctrl.render()">
    </div>

    <div class="gf-form-button-row">
      <button class="btn btn-inverse" ng-click="ctrl.addStage();">
        <i class="fa fa-plus"></i>
        Add a new custom stage
      </button>
    </div>
  </div>

</div>

